main{
    margin: 4rem;
}

main > .logo > .arrow-left > .logo-text{
    width: 11ch;
    animation: typing 2s steps(11), blink .5s step-end infinite alternate;
}

.presentation{
    display: flex;
    align-items: center;
    gap: 10rem;
}

.about{
    display: flex;
    flex-direction: column;    
    gap: .5rem;
}

.about > h1, .about > h2{
    color: #948667;
}

.about > p {
    color: white;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills > .border > h2{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: #948667;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;    
}

.skills > .border{
    transition: all 0.3s;
}

.skills > .border::before{
    transition: all 0.3s;
}

.skills:hover > .border::before{
    opacity: 0;
    transform: scale(0.95,0.75);
}

.projects{
    display: grid;
    gap: 4rem;
    margin-top: 4rem;
}

@media (max-width: 1024px){
    .projects{
        gap: 5rem;
        margin-top: 5rem;
    }
}

@media (max-width: 768px){
    .presentation{
        flex-direction: column;
        gap: 5rem;
    }
}

@media (max-width: 375px){
    .skills-container{   
        grid-template-columns: 1fr 1fr;
    }
}
