main{
    margin: 4rem;
}

.presentation{
    display: flex;
    align-items: center;
    gap: 10rem;
}

.about{
    display: flex;
    flex-direction: column;    
    gap: .5rem;
}

.about > h1, .about > h2{
    color: #948667;
}

.about > p {
    color: white;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills > .border > h2{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: #948667;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;    
}

.projects{
    display: grid;
    gap: 4rem;
    margin-top: 4rem;
}

@media (max-width: 1024px){
    .projects{
        gap: 5rem;
        margin-top: 5rem;
    }
}

@media (max-width: 768px){
    .presentation{
        flex-direction: column;
        gap: 5rem;
    }
}

@media (max-width: 375px){
    .skills-container{   
        grid-template-columns: 1fr 1fr;
    }
}